.container{
    background: $container-bg-color;
    padding-bottom: $container-bottom-padding;
    margin-top: $container-top-margin;
    border-radius: $container-radius;

}
h1{
    @extend %standard-m-p;
}
p{
    @extend %standard-m-p;
}

footer{
    @extend %standard-m-p;
} 

a{
    color: $link-color;
}